.main__history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #161725;
  padding: 10px 0px;
  z-index: 1;
}

.main__history .bandeau {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.main__history .user-container {
  display: flex;
  overflow: hidden;
}

.main__history .user {
  width: 150px;
  height: 40px;
  background-color: #1c1d2d;
  margin-left: 5px;
  flex-shrink: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  left: 0;
}

.main__history .user:hover {
  cursor: pointer;
}
