/* LoadingPage.css */

.loading-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-logo {
    width: 100px; /* Ajustez la taille selon vos besoins */
    height: auto;
    margin-bottom: 20px;
  }
  